-- ============================================================
--  BANK TRANSACTION ANALYSIS — LARGE DATASET
--  100 Customers | 175 Accounts | 8911 Transactions
-- ============================================================

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'BankAnalysis')
    CREATE DATABASE BankAnalysis;
GO
USE BankAnalysis;
GO

-- Drop tables in dependency order
IF OBJECT_ID('transactions','U') IS NOT NULL DROP TABLE transactions;
IF OBJECT_ID('accounts','U')     IS NOT NULL DROP TABLE accounts;
IF OBJECT_ID('customers','U')    IS NOT NULL DROP TABLE customers;
IF OBJECT_ID('branches','U')     IS NOT NULL DROP TABLE branches;
GO

CREATE TABLE branches (
    branch_id   INT IDENTITY(1,1) PRIMARY KEY,
    branch_name VARCHAR(100), city VARCHAR(100),
    state VARCHAR(50), region VARCHAR(50)
);

CREATE TABLE customers (
    customer_id INT IDENTITY(1,1) PRIMARY KEY,
    first_name VARCHAR(50), last_name VARCHAR(50),
    email VARCHAR(100), age INT, gender VARCHAR(10),
    occupation VARCHAR(100), signup_date DATE,
    branch_id INT FOREIGN KEY REFERENCES branches(branch_id)
);

CREATE TABLE accounts (
    account_id  INT IDENTITY(1,1) PRIMARY KEY,
    customer_id INT FOREIGN KEY REFERENCES customers(customer_id),
    account_type VARCHAR(30), balance NUMERIC(12,2),
    opened_date DATE, status VARCHAR(20)
);

CREATE TABLE transactions (
    transaction_id   INT IDENTITY(1,1) PRIMARY KEY,
    account_id       INT FOREIGN KEY REFERENCES accounts(account_id),
    transaction_date DATETIME,
    amount           NUMERIC(12,2),
    transaction_type VARCHAR(30),
    category         VARCHAR(50),
    merchant         VARCHAR(100),
    location_city    VARCHAR(100),
    is_flagged       BIT DEFAULT 0
);
GO

SET IDENTITY_INSERT branches ON;
INSERT INTO branches (branch_id,branch_name,city,state,region) VALUES
(1,'Downtown HQ','New York','NY','Northeast'),
(2,'Midtown Branch','New York','NY','Northeast'),
(3,'West Side','Los Angeles','CA','West'),
(4,'Hollywood Branch','Los Angeles','CA','West'),
(5,'Windy City','Chicago','IL','Midwest'),
(6,'South Loop','Chicago','IL','Midwest'),
(7,'Lone Star','Dallas','TX','South'),
(8,'Austin Branch','Austin','TX','South'),
(9,'Peachtree','Atlanta','GA','Southeast'),
(10,'Buckhead','Atlanta','GA','Southeast');
SET IDENTITY_INSERT branches OFF;
GO

SET IDENTITY_INSERT customers ON;
SET IDENTITY_INSERT customers OFF;
GO

SET IDENTITY_INSERT accounts ON;
SET IDENTITY_INSERT accounts OFF;
GO

SET IDENTITY_INSERT transactions ON;
SET IDENTITY_INSERT transactions OFF;
GO

-- Dataset loaded: 100 customers, 175 accounts, 8911 transactions
SELECT 'Branches'    AS tbl, COUNT(*) AS rows FROM branches    UNION ALL
SELECT 'Customers',         COUNT(*)         FROM customers   UNION ALL
SELECT 'Accounts',          COUNT(*)         FROM accounts    UNION ALL
SELECT 'Transactions',       COUNT(*)         FROM transactions;
